.floating-label-form-group {
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
  position: relative;
  padding-bottom: 0.1em;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  background: none;
  border: none;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none !important;
  position: relative;
  z-index: 1;
  font-size: .9em;
  resize: none;
}
  
.floating-label-form-group label {
  display: block;
  position: relative;
  top: 2em;
  opacity: 0;
  z-index: 0;
  font-size: 0.6em;
  line-height: 1em;
  vertical-align: middle;
  vertical-align: baseline;
  margin: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
     -moz-transition: top 0.3s ease, opacity 0.3s ease;
      -ms-transition: top 0.3s ease, opacity 0.3s ease;
          transition: top 0.3s ease, opacity 0.3s ease;
}
/*
.floating-label-form-group:not(:first-child) {
  border-left: 1px solid #ccc;
  padding-left: 14px;
}*/

.floating-label-form-group-with-value label {
  top: 7px;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #428bca;
}
/*
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #ccc;
}*/
