<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="MobileOptimized" content="320">
        <meta name="HandheldFriendly" content="True">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}">

        <title>{% block title %} {% endblock %}</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/floating-labels.css') }}">
        <script type=text/javascript>
            SCRIPT_ROOT = {{ request.script_root|tojson|safe }}
            URL_ROOT = {{ request.url_root|tojson }}
            CURRENT_USER = {{ g.user|tojson }}
        </script>
    </head>
    <body>
        <div class="container-abacus">
            <nav class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#abacus-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="mobile-menu-title"> MENU </span>
                        </button>
                        <a href="{% block titlepage %} {% endblock %}" class="navbar-brand"><b>{% block title_display %} {% endblock %}</b></a>
                    </div>
                    
                    <div class="collapse navbar-collapse" id="abacus-navbar-collapse">
                        <ul class="nav navbar-nav">
                            {% block nav_left %} {% endblock %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% block nav_right %} {% endblock %}
                            <li class="hidden-sm"><a href="#" data-toggle="modal" data-target="#about">About</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="https://bitbucket.org/rajksvn/abacus/issues/new" target="_blank">Report a bug or suggest a feature</a></li>
                                    <li><a href="https://gist.github.com/rajksvn/aa6c4e5c1bcc2ccf0520#file-readme-md" target="_blank">Full documentation</a></li>
                                    <li><a href="https://gist.github.com/rajksvn/7938703" target="_blank">Changelog</a></li>
                                </ul>
                            </li>
                            {% if g.user %}
                                <li class="hidden-sm">
                                    <a href="/account" target="_blank"> myAbacus (<em>{{ g.user }}</em>)</a>
                                </li>
                                <li class="hidden-lg hidden-md hidden-xs">
                                    <a href="/account" target="_blank"> myAbacus</a>
                                </li>
                            {% endif %}
                            <li>
                                {% if g.user %}
                                    <a href="#" class=signout><i class="fa fa-sign-out"></i> Sign out</a>
                                {% else %}
                                    <a href="#" class=signin><i class="fa fa-sign-in"></i> Sign in</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="alert alert-warning" style="display:none;">
                This is the development version of Abacus, and service could go down at any time. Please go to <a href="http://abacusquizbowl.com">the main version</a> for stable performance.
            </div>

            {% block content %} {% endblock %}
            
            {% block modal %} {% endblock %}

            <div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="About" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="about"><b>About</b></h4>
                            </div>
                            <div class="modal-body">
                                Abacus is a web application for quizbowl moderators.
                                <br>
                                <ul>
                                    <li>Keep score accurately and easily (no more math mistakes!)</li>
                                    <li>Load in .pdf packets to be read onscreen</li>
                                    <li>Create tournaments and automate statistics uploads
                                    <ul>
                                        <li>No manual data entry required</li>
                                    </ul>
                                    <li>View statistics live as soon as the match finishes</li>
                                    <li>Locally save and load statistics for later recall</li>
                                    <li>Crash proof: Abacus auto-saves statistics after each question</li>
                                </ul>
                                Abacus was started in November 2013 by Balachandar 'Raj' Kesavan.
                                <br><br>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                            <a data-toggle="collapse" href="#credits">
                                                 Acknowledgements
                                            </a>
                                    </div>
                                    <div id="credits" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <b>Dennis Aleynikov</b>, for technical advice and assistance<br>
                                            <b>Corry Wang</b>, for extensive testing and interface suggestions<br>
                                            <b>Chris Sewell</b>, for creating SQBS and for logistics advice<br>
                                            <b>Aseem Keyal</b>, for first suggesting the name 'Abacus'
                                        </div>
                                    </div>
                                </div> 
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                            <a data-toggle="collapse" href="#techinfo">
                                                Technical Information
                                            </a>
                                    </div>
                                    <div id="techinfo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            The client-side is designed through Twitter Bootstrap and Bootswatch.<br>
                                            The server-side runs the Flask microframework on a Ramnode VPS.<br>
                                        </div>
                                    </div>
                                </div> 
                                
                                <hr></hr>
                                E-mail raj.ksvn AT gmail DOT com for any questions, concerns, or comments.

                                <hr></hr>
                                Abacus supports <a href="http://facebook.com/qbfod/">Quiz Bowl Fact of the Day</a> - a Facebook page that delivers quizbowl facts to your news feed daily.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://login.persona.org/include.js"></script>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

        <script src="{{ url_for('static', filename = 'js/jquery.cookie.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/floating-labels.js') }}"></script>

        <script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>

        <script src="{{ url_for('static', filename = 'js/abacus.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/create.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/edit.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/accounts.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/synchronize.js') }}"></script>
    </body>
</html>
