{% extends "db_layer.html" %}

{% block title %}
{% if g.user %}
    myAbacus | {{ g.user|safe }}
{% else %}
    myAbacus
{% endif %}
{% endblock %}

{% block content %}
<style>
    body {
        background-color: #e9e9e9;
    }
</style>

<div class="col-lg-12" style="padding-top:5px;">
    <h3>myAbacus <small>({{ g.user|safe }})</small></h3>
</div>

<hr>

<div class="col-lg-12">
    DIRECTOR OF
</div>
<div class="col-lg-12">
    <ul style="list-style-type:none; padding:0; margin:0;">
    {% for tournament in directed_tournaments %}
        <li>
            <a href="/loaded/{{ tournament.id }}">{{ tournament.name }}</a>
            <small>
                <a href="/edit/{{ tournament.id }}">(edit)</a>
            </small>
        </li>
    {% endfor %}
    </ul>
</div>

<hr>

<div class="col-lg-12">
    MODERATOR OF
</div>
<div class="col-lg-12">
    <ul style="list-style-type:none; padding:0; margin:0;">
    {% for tournament in moderated_tournaments %}
        <li>
            <a href="/loaded/{{ tournament.id }}">{{ tournament.name }}</a>
        </li>
    {% endfor %}
    </ul>
</div>

<hr>

<div class="col-lg-12">
    FAVORITED TOURNAMENTS
</div>
<div id="favorited" class="col-lg-12"></div>

{% endblock %}
