{% extends "db_layer.html" %}

{% block title %}
Create a tournament
{% endblock %}

{% block content %}
<style>
    body {
        background-color: #e9e9e9;
    }
</style>
            
<div class="col-sm-12" style="padding-top:20px;">
    <h3>Create an Abacus tournament</h3>
    <div class="alert alert-warning">
        The Abacus Database is currently in beta and should not be used for actual tournaments as scalability testing has not been completed yet. However, the system should work fine for individual testing. 
    </div>
</div>
 
<div class="col-sm-12">
    <div id="create_alert" style="display:none"></div>
</div>

<hr>

<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-8">
            OVERVIEW
            <form role="form">
                <div class="form-group floating-label-form-group col-sm-4">
                    <label for="create_tournament_name">Tournament name</label>
                    <input type="text" class="form-control" id="create_tournament_name" placeholder="Tournament name">
                </div>
            </form>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12">
            BRACKETS
            <p class="help-block">
                Brackets help you divide your tournament into different sections - for example, Morning and Afternoon. You can view statistics individually or combined.
            </p>
            <p class="help-block">
                By default, all brackets will contain five rounds and a Main Division. You can change all of these settings later.
            </p>
            <form role="form" id="add_bracket_form">
                <div id="create_add_brackets"></div>
            </form>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-8">
            <button type="button" class="btn btn-primary btn-sm" onClick="add_new_bracket_input()">Add another bracket</button>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-8">
            <button type="button" class="btn btn-success btn-sm" onClick="create_tournament()">Create this tournament</button>
        </div>
    </div>
</div>
{% endblock %}
