{% extends "abacus_base.html" %}

{% block title_display %}
Abacus Database
{% endblock %}

{% block titlepage %}
http://abacusquizbowl.com/account
{% endblock %}

{% block nav_left %}
<li><a href="/create">Create a tournament</a></li>
{% endblock %}

{% block nav_right %}
<li><a href="/">Abacus</a></li>
{% endblock %}

