{% extends "db_layer.html" %}

{% block title %}
{{ g.supertournament|safe }}
{% endblock %}

{% block content %}

<style>
    body {
        background-color: #e9e9e9;
    }
</style>

<div class="container">
    <div class="row" style="padding-top:20px;">
        <div class="col-sm-12">
            <h2>
                <b> <span id="supertournament_name"></span> </b>
                <small>
                    Tournament Control Panel
                    <small>
                        <img 
                            src="{{ url_for('static', filename = 'img/spinner.gif') }}"
                            id="update_spinner" 
                            style="height:26px;width:26px;display:none;">
                        </img>
                        <strong><a href="#" onClick="regenerate_statistics()">(update statistics)</a></strong>
                        &mdash;
                        <a target="_blank" href="/loaded/{{ supertournament_id }}">Overall</a>
                        {% for tournament in tournaments %}
                            &mdash;
                            <a target="_blank" href="/loaded/{{ supertournament_id }}/{{ tournament.id }}">{{ tournament.name }}</a>
                        {% endfor %}
                    </small>
                </small>
            </h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-pills nav-justified">
                <li class="active">
                    <a href="#tournament_panel" data-toggle="pill">Tournament Settings</a>
                </li>
                <li>
                    <a href="#bracket_panel" data-toggle="pill">Brackets and Games</a>
                </li>
                <li>
                    <a href="#teams_panel" data-toggle="pill">Teams</a>
                </li>
                <li>
                    <a href="#credentials_panel" data-toggle="pill">Credentials</a> 
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <div id="edit_alert" style="display:none"></div>
        </div>
    </div>
    <div class="row">
        <div class="tab-content col-sm-12">
            <div class="tab-pane active" id="tournament_panel">
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-success btn-sm" onClick="edit_settings()">Save changes</button>
                        <button type="button" class="btn btn-warning btn-sm" onClick="load_edit_data()">Reset</button>
                        <button type="button" class="btn btn-danger btn-sm" onClick="delete_tournament()">Delete this tournament</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <form role="form">
                            <div class="form-group floating-label-form-group col-sm-3">
                                <label for="edit_supertournament_name">Tournament name</label>
                                <input type="text" class="form-control input-track-change" id="edit_supertournament_name" placeholder="Tournament name">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="bracket_panel">
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-success btn-sm" onClick="edit_brackets()">Save changes</button>
                        <button type="button" class="btn btn-warning btn-sm" onClick="load_edit_data()">Reset</button>
                    </div>
                </div>
                <p class="help-block">Be careful! Decreasing the number of rounds will permanently delete all data from those rounds.</p>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-primary btn-sm" onClick="add_bracket()">Add this bracket</button>
                        <br>
                        <form role="form" id="add_bracket_form">
                            <div class="form-group floating-label-form-group col-sm-3">
                                <label for="add_bracket_name">New bracket name</label>
                                <input type="text" class="form-control input-track-change" id="add_bracket_name" placeholder="New bracket name">
                            </div>
                            <div class="form-group floating-label-form-group col-sm-3">
                                <label for="add_bracket_n_round">Number of rounds</label>
                                <input type="text" class="form-control input-track-change" id="add_bracket_n_round" placeholder="Number of rounds">
                            </div>
                        </form>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="well well-xs" id="add_game_subpanel" style="display:none;">
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-success btn-sm" onClick="add_game()">Add this game</button>
                                    <button type="button" class="btn btn-warning btn-sm" onClick="hide_add_game()">Reset</button>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <form class="form" role="form" id="new_game_form">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="form-group col-sm-12">
                                                    <div id="round_select_panel" class="col-sm-4"></div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="form-group col-sm-12">
                                                    <div id="red_select_panel" class="col-sm-4"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div id="game_red_players"></div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="form-group col-sm-12">
                                                    <div id="blu_select_panel" class="col-sm-4"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div id="game_blu_players"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <form role="form" id="brackets_form">
                    <div id="edit_brackets"></div>
                </form>
            </div>
            <div class="tab-pane" id="credentials_panel">
                <div class="row">
                    <div class="col-sm-4">
                        <h5>Directors</h5>
                        <div id="director_list"></div>
                    </div>
                    <div class="col-sm-4">
                        <h5>Moderators</h5>
                        <div id="moderator_list"></div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <form role="form" id="new_director_form">
                        <div class="form-group floating-label-form-group col-sm-12">
                            <label for="add_credential_list">New e-mails, separated by commas</label>
                            <input type="text" class="form-control" id="add_credential_list" placeholder="Enter new e-mails here, separated by commas (alice@example.com, bob@example.org)">
                        </div>
                    </form> 
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-primary btn-sm" onClick="add_credentials('director')">Add as director(s)</button>
                        <button type="button" class="btn btn-primary btn-sm" onClick="add_credentials('moderator')">Add as moderator(s)</button>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="teams_panel">
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-success btn-sm" onClick="edit_teams()">Save changes</button>
                        <button type="button" class="btn btn-primary btn-sm" onClick="show_add_team()">Add a team</button>
                        <button type="button" class="btn btn-warning btn-sm" onClick="load_edit_data()">Reset</button>
                        <button type="button" class="btn btn-primary btn-sm" onClick="show_import_teams()">Import teams from text</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="well well-xs" id="add_team_subpanel" style="display:none;">
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-success btn-sm" onClick="add_team()">Save this team</button>
                                    <button type="button" class="btn btn-primary btn-sm" onClick="add_new_player_input()">Add another player</button>
                                    <button type="button" class="btn btn-warning btn-sm" onClick="hide_add_team()">Reset</button>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <form role="form" id="new_team_division_form">
                                    <div class="col-sm-4" id="new_team_division"></div>
                                </form>
                            </div>
                            <div class="row">
                                <form role="form">
                                    <div class="form-group floating-label-form-group col-sm-8">
                                        <label for="new_team_name">New team</label>
                                        <input type="text" id="new_team_name" class="form-control" style="font-weight:bold;" placeholder="New team name">
                                    </div>
                                </form>
                            </div>
                            <div class="row">
                                <form role="form">
                                    <div class="row">
                                        <div class="col-sm-12" id="add_players"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="well well-xs" id="import_teams_subpanel" style="display:none;">
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-success btn-sm" onClick="import_teams()">Save these teams</button>
                                    <button type="button" class="btn btn-warning btn-sm" onClick="hide_import_teams()">Reset</button>
                                </div>
                            </div>
                            <div class="row">
                                <form role="form">
                                    <div class="form-group floating-label-form-group col-sm-12">
                                        <label for="new_teams">New teams</label>
                                        <textarea id="new_teams" rows="20" class="form-control" placeholder="New teams"></textarea>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <form id="team_list_form">
                            <div id="team_list"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}
