{% extends "db_layer.html" %}

{% block title %}
Abacus Error
{% endblock %}

{% block title_display %}
Abacus Database
{% endblock %}

{% block titlepage %}
abacusquizbowl.com
{% endblock %}

{% block content %}
<style>
    body {
        background-color: #e9e9e9;
    }
</style>

<div class="jumbotron" style="margin-top:100px; background-color:#e4e1da;">
    <div class="row col-lg-12">
        <div class="col-lg-offset-5 col-lg-5">
            <blockquote style="border-color:#c3c3c3;">
            <h2 class="text-danger"><b>Error {{ error_code }}</b></h2>
            <h5>{{ error }}</h5>
            <hr>
            <p class="help-block">QUICKLINKS</p>
            <p class="help-block">
                &mdash;<a href="javascript:history.back()">Go back</a>
            </p>
            <p class="help-block">
                {% if not g.user %}
                    &mdash;<a href="#" class="signin">Sign in</a>
                {% else %}
                    &mdash;<a href="#" class="signout">Sign out</a>
                {% endif %}
            </p>
            </blockquote>
        </div>
    </div>
</div>
{% endblock %}
