{% extends "mod_layer.html" %}

{% block title %}
Abacus 
{% endblock %}

{% block content %}
<div row>
    <div id="abacus_content" class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
        <h3>
            <b>
                <span class="text-danger" id="red_name"></span> 
                <span class="text-danger" id="red_total_header"></span>
                v. 
                <span class="text-info" id="blu_name"></span>
                <span class="text-info" id="blu_total_header"></span>
            </b>
        </h3>
        
        <div class="tournament-label">
            <span class="label label-primary">Question <span id="qnum"></span></span> 
            <span id="qtype" class="label label-success"></span>
            <span class="label label-info">Round <span id="n_round"></span></span> 
            <span class="label label-warning">Moderator <span id="moderator"></span></span> 
            <span id="tournament" class="label label-danger"></span>
        </div>
        <div class="parent">
            <div id="bonus" class="hidden-sm hidden-xs" style="z-index: 1; position: absolute; height:330px; width:96%"></div>
            <div id="tossup" class="hidden-sm hidden-xs" style="z-index: 2; position: relative; background-position:0px 0px; height:330px; width:100%">
            </div>
        </div>
        <div class="row extra-margin" style="padding-top:20px;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="red_panel"></div>
            <br class="hidden-lg hidden-md hidden-sm">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="blu_panel"></div>
        </div>
    </div>
    <br class="hidden-lg">
    <div class="col-lg-5 col-md-8 col-lg-offset-0 col-md-offset-2">
        <table class="table table-striped table-hover table-condensed table-responsive" id="statistics_panel">
        </table>
    </div>
</div>

{% endblock %}
