{% extends "stripped_base.html" %}

{% block title_display %}
Abacus Database
{% endblock %}

{% block titlepage %}
http://abacusquizbowl.com
{% endblock %}

{% block content %}
<div class="col-sm-12">
    {% block tournament_header %}{% endblock %}
</div>

<div class="col-sm-12">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#scoreboard" data-toggle="tab">Scoreboard</a></li>
        <li><a href="#standings" data-toggle="tab">Standings</a></li>
        <li><a href="#individuals" data-toggle="tab">Individuals</a></li>
        <li><a href="#team_detail" data-toggle="tab">Team Detail</a></li>
        <li><a href="#individual_detail" data-toggle="tab">Individual Detail</a></li>
        <li><a href="#round_report" data-toggle="tab">Round Report</a></li>
    </ul>
</div>

<br>

<div class="tab-content">
    <div class="tab-pane active" id="scoreboard">
        <div id="scoreboard_data" class="col-sm-8">
            {% block scoreboard %}
            {% endblock %}
        </div>
    </div>
    <div class="tab-pane" id="standings">
        <div id="standings_data" class="col-sm-8">
            {% block standings %}
            {% endblock %}
        </div>
    </div>
    <div class="tab-pane" id="individuals">
        <div id="individuals_data" class="col-sm-8">
            {% block individuals %}
            {% endblock %}
        </div>
    </div>
    <div class="tab-pane" id="team_detail">
        <div id="team_detail_data" class="col-sm-8">
            {% block team_detail %}
            {% endblock %}
        </div>
    </div>
    <div class="tab-pane" id="individual_detail">
        <div id="individual_detail_data" class="col-sm-7">
            {% block individual_detail %}
            {% endblock %}
        </div>
    </div>
    <div class="tab-pane" id="round_report">
        <div id="round_report_data" class="col-sm-3">
            {% block round_report %}
            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}
