{% extends "db_layer.html" %}

{% block title %}
{{ g.supertournament|safe }}
{% endblock %}

{% block content %}

<div id="statistics" class="row col-sm-12">
    <div class="col-sm-12">
        <h3>
            <b><span id="tournament_load">Loading your tournament...</span></b>
            {% if g.director %}
                <small> <a href="/edit/{{ g.supertournament_id|safe }}">(edit)</a> </small>
            {% endif %}
        </h3>
        <span id="other_brackets"></span>
    </div>
    <br>
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#scoreboard" data-toggle="tab">Scoreboard</a></li>
            <li><a href="#standings" data-toggle="tab">Standings</a></li>
            <li><a href="#individuals" data-toggle="tab">Individuals</a></li>
            <li><a href="#team_detail" data-toggle="tab">Team Detail</a></li>
            <li><a href="#individual_detail" data-toggle="tab">Individual Detail</a></li>
            <li><a href="#round_report" data-toggle="tab">Round Report</a></li>
        </ul>
    </div>

    <br>

    <div class="tab-content">
        <div class="tab-pane active" id="scoreboard">
            <div id="scoreboard_data" class="row col-sm-12"></div>
        </div>
        <div class="tab-pane" id="standings">
            <div id="standings_data" class="row col-sm-12"></div>
        </div>
        <div class="tab-pane" id="individuals">
            <div id="individuals_data" class="row col-sm-12"></div>
        </div>
        <div class="tab-pane" id="team_detail">
            <div id="team_detail_data" class="row col-sm-12"></div>
        </div>
        <div class="tab-pane" id="individual_detail">
            <div id="individual_detail_data" class="row col-sm-12"></div>
        </div>
        <div class="tab-pane" id="round_report">
            <div id="round_report_data" class="row col-sm-12"></div>
        </div>
    </div>
</div>

<br>



{% endblock %}
