{% extends "abacus_base.html" %}

{% block title %}
Abacus
{% endblock %}

{% block title_display %}
Abacus
{% endblock %}

{% block titlepage %}
http://abacusquizbowl.com
{% endblock %}

{% block nav_left %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tournament<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="#" data-toggle="modal" data-target="#ntourn">Set local tournament settings</a></li>
        <li class="divider"></li>
        {% if g.user %}
        <li><a href="#" data-toggle="modal" data-target="#sync" onClick="populate_synchronize()">Synchronize to a remote tournament</a></li>
        {% else %}
        <li><a href="#" class="signin">Log in to synchronize to a remote tournament</a></li>
        {% endif %}
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Round<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li id="local_round_nav"><a href="#" data-toggle="modal" data-target="#nround">Create a new round</a></li>
        <li id="remote_round_nav" style="display:none"><a href="#" data-toggle="modal" data-target="#new_remote_round"><i id="round_sync"></i> Create a new round</a></li>
        <li><a href="#" data-toggle="modal" data-target="#upacket">Upload a packet</a> </li>
        <li class="divider"></li>
        <li><a href="#" onClick="undo()">Undo the last action</a></li>
        <li><a href="#" data-toggle="modal" data-target="#eques">Edit statistics</a></li>
        <li class="divider"></li>
        <li><a href="#" onClick="init_protest(\'protest_team\')" data-toggle="modal" data-target="#protest">Record a protest</a></li>
        <li><a href="#" onClick="populate_protest('protest_id', 'open')" data-toggle="modal" data-target="#protest_view">View open protests</a></li>
        <li><a href="#" onClick="populate_protest('c_protest_id', 'closed')" data-toggle="modal" data-target="#protest_closed">View closed protests</a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Save Statistics<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="#" data-toggle="modal" data-target="#udata" onClick="populate_upload('upload_data')">Upload round statistics</a></li>
        <li class="divider"></li>
        <li><a href="#" data-toggle="modal" data-target="#sround">Save round (local)</a></li>
        <li><a href="#" data-toggle="modal" data-target="#lround" onClick="load_cookies()">Load round (local)</a></li>
    </ul>
</li>
{% endblock %}

{% block nav_right %}
{% endblock %}

{% block modal %}
<div class="modal fade" id="sync" tabindex="-1" role="dialog" aria-labelledby="Synchronize" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><b>Synchronize</b></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-link fa-fw"></i></span>
                        <select id="sync_tournaments" class="form-control"></select>
                    </div>
                </form>
                <br>
                <div id="sync_alert"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="sync_button" class="btn btn-primary" onClick="synchronize()">Synchronize</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="udata" tabindex="-1" role="dialog" aria-labelledby="Upload to Abacus Database" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><b>Upload to Abacus Database</b></h4>
            </div>
            <div class="modal-body">
                <div id="upload_data"></div>
                <div id="upload_alert"></div>
                <div id="upload_info"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onClick="clear_upload()" data-dismiss="modal">Close</button>
                <button type="button" id="upload_db_btn" class="btn btn-primary" onClick="upload_database()">Upload</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ntourn" tabindex="-1" role="dialog" aria-labelledby="New Tournament" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="ntournlabel"><b>New Tournament</b></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <p class="help-block">This dialog should not be used while synchronized with the Abacus Database.</p>
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-trophy fa-fw"></i></span>
                        <input type="text" class="form-control" id="tournament_name" placeholder="Tournament name">
                    </div>
                    <br>
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-gavel fa-fw"></i></span>
                        <input type="text" class="form-control" id="moderator_name" placeholder="Moderator name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onClick="update_tournament()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="upacket" tabindex="-1" role="dialog" aria-labelledby="Upload Packet" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="upacket"><b>Upload Packet</b></h4>
            </div>
            <form id="upload-file" role="form" action="sendQuestions" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="file" name="file">
                    <p class="help-block">Upload a .pdf file of the packet you want to read.</p>
                    <p class="help-block">You must have a .pdf viewer plugin enabled in your browser for this feature to work.</p>
                    <p class="help-block">Your file size must be less than 16 megabytes.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="upload-file-btn" type="button" class="btn btn-primary" data-dismiss="modal" value="Upload">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="nround" tabindex="-1" role="dialog" aria-labelledby="New Round" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="nroundlabel"><b>New Round</b></h4>
            </div>
            <div class="modal-body">
                <form role="form" class="col-lg-12" id="new_round_form">
                    <div class="row">
                        <div class="form-group col-lg-12 floating-label-form-group">
                            <label for="n_round_in">Round number</label>
                            <input type="text" class="form-control" id="n_round_in" placeholder="Round number">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-lg-6 floating-label-form-group">
                            <label for="red">Team one's name</label>
                            <input type="text" class="form-control" id="red" placeholder="Team one's name">
                        </div>
                        <div class="form-group col-lg-6 floating-label-form-group">
                            <label for="n_red">Total players on team one</label>
                            <input type="text" class="form-control" id="n_red" placeholder="Total players on team one" onKeyUp="populate_round_players('red')">
                        </div>
                    </div>

                    <div id="red_players"></div>
                   
                    <div class="row">
                        <div class="form-group col-lg-6 floating-label-form-group">
                            <label for="blu">Team two's name</label>
                            <input type="text" class="form-control" id="blu" placeholder="Team two's name">
                        </div>
                        <div class="form-group col-lg-6 floating-label-form-group">
                            <label for="n_blu">Total players on team two</label>
                            <input type="text" class="form-control" id="n_blu" placeholder="Total players on team two" onKeyUp="populate_round_players('blu')">
                        </div>
                    </div>
                   
                    <div id="blu_players"></div>

                    <div class="row">
                        <div class="form-group">
                            <span class="help-block">Enter the total number of players, including any potential substitutes (limit 8 per team).</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onClick="clear_new_round()">Clear form</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="update_btn" class="btn btn-primary" data-dismiss="modal" onClick="update_round()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="new_remote_round" tabindex="-1" role="dialog" aria-labelledby="New Round" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><b>New Round</b></h4>
            </div>
            <div class="modal-body">
                <form role="form" id="remote_round_form" class="col-lg-12">
                    <div class="row">
                        <div class="form-group">
                            <div id="round_select_panel"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div id="red_select_panel"></div>
                    </div>

                    <div class="row">
                        <div id="red_remote_players"></div>
                    </div>
                    
                    <br>

                    <div class="row">
                        <div id="blu_select_panel"></div>
                    </div>

                    <div class="row">
                        <div id="blu_remote_players"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onClick="clear_new_round()">Clear form</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="update_btn" class="btn btn-primary" data-dismiss="modal" onClick="update_sync_round()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="eques" tabindex="-1" role="dialog" aria-labelledby="Edit Statistics" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><b>Edit Statistics</b></h4>
            </div>
            <div class="modal-body">
                <p class="help-block">Read the documentation for instructions on how to use this feature.</p>
                <form  role="form" class="col-lg-12" id="new_round_form">
                    <div class="row">
                        <div class="form-group col-lg-12 floating-label-form-group">
                            <label for="edit_q">Question number</label>
                            <input type="text" class="form-control" id="edit_q" placeholder="Question number">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12 floating-label-form-group">
                            <label for="red_tossups">Team one tossup statistics</label>
                            <input type="text" class="form-control" id="red_tossups" placeholder="Team one tossup statistics">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12 floating-label-form-group">
                            <label for="red_bonus">Team one bonus statistics</label>
                            <input type="text" class="form-control" id="red_bonus" placeholder="Team one bonus statistics">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12 floating-label-form-group">
                            <label for="blu_tossups">Team two tossup statistics</label>
                            <input type="text" class="form-control" id="blu_tossups" placeholder="Team two tossup statistics">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12 floating-label-form-group">
                            <label for="blu_bonus">Team two bonus statistics</label>
                            <input type="text" class="form-control" id="blu_bonus" placeholder="Team two bonus statistics">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onClick="edit_statistics()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sround" tabindex="-1" role="dialog" aria-labelledby="Save Round" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><b>Save Round</b></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-save fa-fw"></i></span>
                        <input type="text" class="form-control" id="save_name" placeholder="Save statistics as">
                    </div>
                </form>
                <p></p>
                <div class="panel panel-default">
                    <div class="panel-heading">
                            <a data-toggle="collapse" href="#save_round_info">
                                Trouble saving/loading round statistics?
                            </a>
                    </div>
                    <div id="save_round_info" class="panel-collapse collapse">
                        <div class="panel-body">
                            Make sure cookies are enabled in your browser.
                        </div>
                    </div>
                </div> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onClick="save_round()">Save round</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="lround" tabindex="-1" role="dialog" aria-labelledby="Load Round" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><b>Load Round</b></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div id="cookies" class="col-lg-12"></div>
                    </div>
                </form>
                <p></p>
                <div class="panel panel-default">
                    <div class="panel-heading">
                            <a data-toggle="collapse" href="#load_round_info">
                                Trouble saving/loading round statistics?
                            </a>
                    </div>
                    <div id="load_round_info" class="panel-collapse collapse">
                        <div class="panel-body">
                            Make sure cookies are enabled in your browser.
                        </div>
                    </div>
                </div> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onClick="delete_round()">Delete round</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onClick="load_round()">Load round</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="protest" tabindex="-1" role="dialog" aria-labelledby="Record Protest" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><b>Record Protest</b></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="record_protest_form">
                    <div class="form-group col-lg-12">
                        <div class="input-group margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-question fa-fw"></i></span>
                            <input type="text" class="form-control" id="protest_q" placeholder="Question(s) protested">
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <div class="input-group margin-bottom-sm col-lg-12">
                            <span class="input-group-addon"><i class="fa fa-exclamation fa-fw"></i></span>
                            <input type="text" class="form-control" id="protest_pts" placeholder="Pt. discrepancy">
                            <span class="input-group-addon">points, in the favor of </span>
                            <select id="protest_team" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <div class="input-group margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-comment fa-fw"></i></span>
                            <input type="text" class="form-control" id="protest_info" placeholder="Specific details">
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <div class="input-group margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-bolt fa-fw"></i></span>
                            <input type="text" class="form-control" id="protest_action" placeholder="Immediate action taken">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onClick="protest()">Record protest</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="protest_view" tabindex="-1" role="dialog" aria-labelledby="Open Protest" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><b>Open Protests</b></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="open_protest_form">
                    <div class="form-group col-lg-12">
                        <div class="input-group margin-bottom-sm col-lg-12">
                            <select multiple id="protest_id" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <div class="input-group margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-question fa-fw"></i></span>
                            <input type="text" class="form-control" id="static_protest_q" placeholder="Question(s) protested" disabled>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <div class="input-group margin-bottom-sm col-lg-12">
                            <span class="input-group-addon"><i class="fa fa-exclamation fa-fw"></i></span>
                            <input type="text" class="form-control" id="static_protest_pts" placeholder="Pt. discrepancy" disabled>
                            <span class="input-group-addon">points, in the favor of </span>
                            <select id="static_protest_team" class="form-control" disabled></select>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <div class="input-group margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-comment fa-fw"></i></span>
                            <input type="text" class="form-control" id="static_protest_info" placeholder="Specific details" disabled>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <div class="input-group margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-bolt fa-fw"></i></span>
                            <input type="text" class="form-control" id="static_protest_action" placeholder="Immediate action taken" disabled>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <div class="input-group margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-gavel fa-fw"></i></span>
                            <input type="text" class="form-control" id="protest_resolve" placeholder="Method of resolution">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onClick="delete_protest()">Delete protest</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onClick="resolve_protest()">Resolve protest</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="protest_closed" tabindex="-1" role="dialog" aria-labelledby="Closed Protest" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><b>Closed Protests</b></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="closed_protest_form">
                    <div class="form-group col-lg-12">
                        <div class="input-group margin-bottom-sm col-lg-12">
                            <select multiple id="c_protest_id" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <div class="input-group margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-question fa-fw"></i></span>
                            <input type="text" class="form-control" id="c_static_protest_q" placeholder="Question(s) protested" disabled>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <div class="input-group margin-bottom-sm col-lg-12">
                            <span class="input-group-addon"><i class="fa fa-exclamation fa-fw"></i></span>
                            <input type="text" class="form-control" id="c_static_protest_pts" placeholder="Pt. discrepancy" disabled>
                            <span class="input-group-addon">points, in the favor of </span>
                            <select id="c_static_protest_team" class="form-control" disabled></select>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <div class="input-group margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-comment fa-fw"></i></span>
                            <input type="text" class="form-control" id="c_static_protest_info" placeholder="Specific details" disabled>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <div class="input-group margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-bolt fa-fw"></i></span>
                            <input type="text" class="form-control" id="c_static_protest_action" placeholder="Immediate action taken" disabled>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <div class="input-group margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-gavel fa-fw"></i></span>
                            <input type="text" class="form-control" id="c_static_protest_resolve" placeholder="Method of resolution" disabled>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
