{% extends "loaded.html" %}

{% block title %}
{{ supertournament_name }}, {{ bracket_name }}
{% endblock %}

{% block tournament_header %}
<h3><strong>{{ supertournament_name }}, {{ bracket_name }} Bracket</strong></h3>
{{ other_brackets | safe }}
{% endblock %}

{% block scoreboard %}
{% for round in scoreboards %}
    <h4> <strong> Round {{ round.number }}, {{ round.bracket }} </strong> </h4>
    {% for game in round['games'] %}
        <div class="row">
        {% for team in game %}
            <div class="col-sm-5">
                <h5> <strong>
                    {{ team.name }}: {{ team.total }} @ {{ team.points_per_bonus | force_decimal(2) }}
                </strong> </h5>
                <table class="table table-condensed table-hover table-striped">
                    <tr>
                        <th>Player</th> 
                        {% for statistic in ['15', '10', '-5', 'TUH', 'Total'] %}
                            <th style="text-align:right">{{ statistic }}</th>
                        {% endfor %}
                    </tr>

                    {% for player in team.players %}
                        <tr>
                            <td>{{ player.name }}</td>
                            <td align="right">{{ player.n_power }}</td>
                            <td align="right">{{ player.n_tossup }}</td>
                            <td align="right">{{ player.n_negative }}</td>
                            <td align="right">{{ player.n_heard }}</td>
                            <td align="right">{{ player.total }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
        </div>
        <br>
    {% endfor %}
    <hr>
{% endfor %}
{% endblock %}

{% block individuals %}
<table class="table table-condensed table-hover table-striped">
    <tr>
        <th>Player</th>
        <th>Team</th>
        <th>Division</th>
        {% for statistic in ['GP', '15', '10', '-5', 'TUH', 'P/TU', 'Pw/N', 'G/N', 'T', 'P/G'] %}
        <th style="text-align:right">{{ statistic }}</th>
        {% endfor %}
    </tr>
{% for player in individuals %}
    <tr>
        <td>{{ player.name }} </td>
        <td>{{ player.team }}</td>
        <td>{{ player.division }}</td>
        <td align="right">{{ player.games_played | force_decimal(2) }}</td>
        <td align="right">{{ player.n_power }}</td>
        <td align="right">{{ player.n_tossup }}</td>
        <td align="right">{{ player.n_negative }}</td>
        <td align="right">{{ player.n_heard }}</td>
        <td align="right">{{ player.points_per_tossup | force_decimal(2) }}</td>
        <td align="right">{{ player.powers_per_negative | force_decimal(2) }}</td>
        <td align="right">{{ player.gets_per_negative | force_decimal(2) }}</td>
        <td align="right">{{ player.total }}</td>
        <td align="right">{{ player.points_per_game | force_decimal(2) }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}

{% block standings %}
{% for division in standings %}
    <h4><strong>{{ division.name }}</strong></h4>
    <table class="table table-condensed table-hover table-striped">
    <tr>
        <th>Team</th>
        {% for statistic in ['W', 'L', 'T', 'W/LT', 'P/G', 'O P/G', 'M', '15', '10', '-5', 'TUH', 'P/TU', 'Pw/N', 'G/N', 'BH', 'BP', 'P/B'] %}
        <th style="text-align:right">{{ statistic }}</th>
        {% endfor %}
    </tr>
    {% for team in division.teams %}
        <tr>
            <td>{{ team.name }} </td>
            <td style="text-align:right">{{ team.win }}</td>
            <td style="text-align:right">{{ team.loss }}</td>
            <td style="text-align:right">{{ team.tie }}</td>
            <td style="text-align:right">{{ team.win_ratio | force_decimal(2) }}</td>
            <td style="text-align:right">{{ team.points_per_game | force_decimal(2) }}</td>
            <td style="text-align:right">{{ team.opponent_points_per_game | force_decimal(2) }}</td>
            <td style="text-align:right">{{ team.margin | force_decimal(2) }}</td>
            <td style="text-align:right">{{ team.n_power }}</td>
            <td style="text-align:right">{{ team.n_tossup }}</td>
            <td style="text-align:right">{{ team.n_negative }}</td>
            <td style="text-align:right">{{ team.n_heard }}</td>
            <td style="text-align:right">{{ team.points_per_tossup | force_decimal(2) }}</td>
            <td style="text-align:right">{{ team.powers_per_negative | force_decimal(2) }}</td>
            <td style="text-align:right">{{ team.gets_per_negative | force_decimal(2) }}</td>
            <td style="text-align:right">{{ team.bonuses_heard }}</td>
            <td style="text-align:right">{{ team.bonus_points }}</td>
            <td style="text-align:right">{{ team.points_per_bonus | force_decimal(2) }}</td>
        </tr>
    {% endfor %}
    </table>
{% endfor %}
{% endblock %}

{% block team_detail %}
{% for team in team_details %}
    <h4><strong>{{ team.name }}</strong></h4>
    <table class="table table-condensed table-hover table-striped">
        <tr>
            <th>Opponent</th>
            <th>Result</th>
            {% for statistic in ['PF', 'PA', '15', '10', '-5', 'TUH', 'P/TU', 'Pw/N', 'G/N', 'BH', 'BP', 'P/B'] %}
                <th style="text-align:right">{{ statistic }}</th>
            {% endfor %}
        </tr>
        {% for game in team.games %}
            <tr>
                <td>{{ game.opponent_name }} </td>
                <td>{{ game.result }} </td>
                <td style="text-align:right">{{ game.total }}</td>
                <td style="text-align:right">{{ game.opponent_total }}</td>
                <td style="text-align:right">{{ game.n_power }}</td>
                <td style="text-align:right">{{ game.n_tossup }}</td>
                <td style="text-align:right">{{ game.n_negative }}</td>
                <td style="text-align:right">{{ game.n_heard }}</td>
                <td style="text-align:right">{{ game.points_per_tossup | force_decimal(2) }}</td>
                <td style="text-align:right">{{ game.powers_per_negative | force_decimal(2) }}</td>
                <td style="text-align:right">{{ game.gets_per_negative | force_decimal(2) }}</td>
                <td style="text-align:right">{{ game.bonuses_heard }}</td>
                <td style="text-align:right">{{ game.bonus_points }}</td>
                <td style="text-align:right">{{ game.points_per_bonus | force_decimal(2) }}</td>
            </tr>    
        {% endfor %}
        <tr>
            <strong>
            <td>Total</td>
            <td></td>
            <td style="text-align:right">{{ team.totals.total }}</td>
            <td style="text-align:right">{{ team.totals.opponent_total }}</td>
            <td style="text-align:right">{{ team.totals.n_power }}</td>
            <td style="text-align:right">{{ team.totals.n_tossup }}</td>
            <td style="text-align:right">{{ team.totals.n_negative }}</td>
            <td style="text-align:right">{{ team.totals.n_heard }}</td>
            <td style="text-align:right">{{ team.totals.points_per_tossup | force_decimal(2) }}</td>
            <td style="text-align:right">{{ team.totals.powers_per_negative | force_decimal(2) }}</td>
            <td style="text-align:right">{{ team.totals.gets_per_negative | force_decimal(2) }}</td>
            <td style="text-align:right">{{ team.totals.bonuses_heard }}</td>
            <td style="text-align:right">{{ team.totals.bonus_points }}</td>
            <td style="text-align:right">{{ team.totals.points_per_bonus | force_decimal(2) }}</td>
            </strong>
        </tr> 
    </table>
    <table class="table table-condensed table-hover table-striped">
        <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Division</th>
            {% for statistic in ['GP', '15', '10', '-5', 'TUH', 'P/TU', 'Pw/N', 'G/N', 'T', 'P/G'] %}
            <th style="text-align:right">{{ statistic }}</th>
            {% endfor %}
        </tr>
    {% for player in team.individuals %}
        <tr>
            <td>{{ player.name }} </td>
            <td>{{ player.team }}</td>
            <td>{{ player.division }}</td>
            <td align="right">{{ player.games_played | force_decimal(2) }}</td>
            <td align="right">{{ player.n_power }}</td>
            <td align="right">{{ player.n_tossup }}</td>
            <td align="right">{{ player.n_negative }}</td>
            <td align="right">{{ player.n_heard }}</td>
            <td align="right">{{ player.points_per_tossup | force_decimal(2) }}</td>
            <td align="right">{{ player.powers_per_negative | force_decimal(2) }}</td>
            <td align="right">{{ player.gets_per_negative | force_decimal(2) }}</td>
            <td align="right">{{ player.total }}</td>
            <td align="right">{{ player.points_per_game | force_decimal(2) }}</td>
        </tr>
    {% endfor %}
    </table>
    <hr>
{% endfor %}
{% endblock %}

{% block individual_detail %}
{% for player in individual_details %}
    <h4><strong>{{ player.name }}, {{ player.team }}</strong></h4>
    <table class="table table-condensed table-hover table-striped">
    <tr>
        <th>Opponent</th>
        {% for statistic in ['GP', '15', '10', '-5', 'TUH', 'P/TU', 'Pw/N', 'G/N', 'T'] %}
            <th style="text-align:right">{{ statistic }}</th>
        {% endfor %}
    </tr>
    {% for game in player.games %}
        <tr>
            <td>{{ game.opponent_name }} </td>
            <td style="text-align:right">{{ game.games_played }}</td>
            <td style="text-align:right">{{ game.n_power }}</td>
            <td style="text-align:right">{{ game.n_tossup }}</td>
            <td style="text-align:right">{{ game.n_negative }}</td>
            <td style="text-align:right">{{ game.n_heard }}</td>
            <td style="text-align:right">{{ game.points_per_tossup | force_decimal(2) }}</td>
            <td style="text-align:right">{{ game.powers_per_negative | force_decimal(2) }}</td>
            <td style="text-align:right">{{ game.gets_per_negative | force_decimal(2) }}</td>
            <td style="text-align:right">{{ game.total }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td><strong>Total</strong></td>
        <td style="text-align:right">{{ player.totals.games_played }}</td>
        <td style="text-align:right">{{ player.totals.n_power }}</td>
        <td style="text-align:right">{{ player.totals.n_tossup }}</td>
        <td style="text-align:right">{{ player.totals.n_negative }}</td>
        <td style="text-align:right">{{ player.totals.n_heard }}</td>
        <td style="text-align:right">{{ player.totals.points_per_tossup | force_decimal(2) }}</td>
        <td style="text-align:right">{{ player.totals.powers_per_negative | force_decimal(2) }}</td>
        <td style="text-align:right">{{ player.totals.gets_per_negative | force_decimal(2) }}</td>
        <td style="text-align:right">{{ player.totals.total }}</td>
    </tr>
    </table>
{% endfor %}
{% endblock %}

{% block round_report %}
<table class="table table-condensed table-hover table-striped">
    <tr>
        <th>Round</th>
        <th>Bracket</th>
        {% for statistic in ['P/G', 'P/B'] %}
        <th style="text-align:right">{{ statistic }}</th>
        {% endfor %}
    </tr>
{% for round in round_reports %}
    <tr>
        <td>{{ round.number }} </td>
        <td>{{ round.bracket }} </td>
        <td align="right">{{ round.points_per_game | force_decimal(2) }}</td>
        <td align="right">{{ round.points_per_bonus | force_decimal(2) }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
