<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="MobileOptimized" content="320">
        <meta name="HandheldFriendly" content="True">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}">

        <title>{% block title %} {% endblock %}</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/bootstrap.css') }}">
    </head>
    <body>
        <div class="container-abacus">
            <nav class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#abacus-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="mobile-menu-title"> MENU </span>
                        </button>
                        <a href="{% block titlepage %} {% endblock %}" class="navbar-brand"><b>{% block title_display %} {% endblock %}</b></a>
                    </div>
                    
                    <div class="collapse navbar-collapse" id="abacus-navbar-collapse">
                        <ul class="nav navbar-nav">
                            {% block nav_left %} {% endblock %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% block nav_right %} {% endblock %}
                            <li class="hidden-sm"><a href="#" data-toggle="modal" data-target="#about">About</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="https://bitbucket.org/rajksvn/abacus/issues/new" target="_blank">Report a bug or suggest a feature</a></li>
                                    <li><a href="https://gist.github.com/rajksvn/aa6c4e5c1bcc2ccf0520#file-readme-md" target="_blank">Full documentation</a></li>
                                    <li><a href="https://gist.github.com/rajksvn/7938703" target="_blank">Changelog</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            {% block content %} {% endblock %}
        </div>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="{{ url_for('static', filename = 'js/bootstrap.js') }}"></script>
    </body>
</html>
